body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.box{
    background-color: white;
    width: 500px;
    border:none;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

:root {
    --input-icon : #7f8387;
    --main-purple : #9B54DD;
    --succesful-icon : linear-gradient(120deg, #24b435c9 35%, #11ad2d 100%);
    --primary-gradient: linear-gradient(120deg, #7B2FF7 35%, #4A7DFF 100%);
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    font-size: 40px;
    background: var(--primary-gradient);
    padding: 8px 16px;
    border-radius: 15px;
    color: white;
    margin-bottom: 10px;
}

.icon-suc{
    font-size: 40px;
    background: var(--succesful-icon);
    padding: 8px 16px;
    border-radius: 15px;
    color: white;
    margin-bottom: 10px;
}

.input {
    position: relative;
    margin-bottom: 15px;
}

.input i{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 20px;
    color: var(--input-icon);
}

.input input::placeholder{
    color: var(--input-icon);
}

input[type="tel"] {
    text-align: right;
}

input[type="tel"]::placeholder {
    direction: rtl;
    text-align: right;
}

.button {
    background:var(--primary-gradient);
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}
#register-go  ,#login-go , #forgot-password , #recode{
    color: var(--main-purple) !important;
    text-decoration: none;
}

#login-go-in-forgot , #phone-go-in-forgot-code , #login-go-in-code{
    color: var(--input-icon) !important;
    text-decoration: none;
}

.input input{
    border-radius: 15px !important;
    background-color: #f8f8f8;
    border: solid 1px #ececec;
}
.input input:focus{
    border-color: var(--main-purple);
    box-shadow: 0 0 0 0.25rem rgba(123 ,47 , 247 , 0.25);
}
.message {
    background-color: rgb(255, 242, 242);
    border-radius: 15px;
    border: solid 2px rgb(252, 173, 173);
    color: rgb(232, 27, 27);
}
#Error-login ,#Error-forgot-code ,#Error-forgot ,#Error-register ,#Error-login-tow{
    display: none;
}
.login {
    display: none;
}
.register {
    display: none;
}
.forgot{
    display: none;
}
.forgot-key{
    display: none;
}
.change-password{
    display: none;
}
.sucesfull-password{
    display: none;
}
.sucesfull-registered{
    display: none;
}
#phone-code {
    font-weight: bold;
    color: var(--main-purple) !important;
}
#time  ,#time-tow{
    color: var(--main-purple);
    font-weight: bold;
}
#recode ,#recode-tow {
    display: none;
}

.input-code {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
    direction: ltr; /* خیلی مهم */
}

.input-code input {
    width: 48px;
    height: 56px;
    border-radius: 12px;
    border: 1.5px solid #ddd;
    text-align: center;
    font-size: 22px;
    outline: none;
    transition: 0.2s;
}

.input-code input:focus {
    border-color: #8b5cf6;
    box-shadow: 0 0 0 2px rgba(130, 80, 246, 0.2);
}